.create-user-dialog-main-layout{
}

.create-user-dialog-title-layout{
    margin-top: 0;
    margin-bottom: 0;
}

.create-user-dialog-input-user-dialog{
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.create-user-dialog-button-layout{
}

.create-user-dialog-label-title{
    font-weight: bold;
    font-size: 20px;
}