.adr-main-div{
    min-width: 220px;
    width: 100%;
    border: 0 solid #65b32e;
    border-radius: 10px;
}

.adr-component-status-created{
    background: linear-gradient(to bottom, rgba(46, 137, 179, 0.4), rgba(138, 203, 255, 0.25));
    box-shadow: 8px 8px 3px rgba(48, 115, 140, 0.4);
}

.adr-component-status-proposed{
    background: linear-gradient(to bottom, rgba(226, 194, 35, 0.4), rgba(252, 214, 113, 0.25));
    box-shadow: 8px 8px 3px rgba(157, 138, 31, 0.4);
}

.adr-component-status-approved{
    background: linear-gradient(to bottom, rgba(101, 179, 46, 0.4), rgba(172, 248, 117, 0.25));
    box-shadow: 8px 8px 3px rgba(69, 122, 30, 0.4);
}

.adr-component-status-refused{
    background: linear-gradient(to bottom, rgba(179, 46, 57, 0.4), rgba(250, 141, 153, 0.25));
    box-shadow: 8px 8px 3px rgba(133, 34, 41, 0.4);
}

.adr-component-status-superseded{
    background: linear-gradient(to bottom, rgba(97, 97, 97, 0.4), rgba(168, 168, 168, 0.25));
    box-shadow: 8px 8px 3px rgba(52, 52, 52, 0.4);
}

.adr-component-title{
    width: 98%;
    margin-left: 2%;
    font-size: 20px;
    font-weight: bold;
}

.adr-separator-line{
    border-radius: 50px;
    margin-left: 0.5%;
    width: 99%;
    border-top: 3px solid black;

}

.adr-component-sub-heading{
    font-size: 17px;
    font-weight: bold;
}

.adr-main-layout{

}

.adr-author-layout{
    width: 100%;
}

.adr-vote-layout{
    width: 100%;
}

.author-label-text-layout{
    padding: 0;
}

.author-label-layout{
    padding: 0;
}

.vote-label-text-layout{
    padding: 0;
}

.vote-label-layout{
    padding: 0;
}

.adr-details-button-enabled{
    width: 75%;
    border-radius: 30px;
    margin-left: 17.5%;
    background-color: #65b32e;
    color: #ffffff;
}

.adr-details-button-enabled:hover{
    border-radius: 30px;
    background-color: #559329;
}

.adr-details-button-disabled{
    width: 75%;
    border-radius: 30px;
    margin-left: 17.5%;
    background-color: #747674;
    color: #ffffff;
}